body{
  margin: 0;
  background-color: #919494;
}

.upper-container{
  background-color: #4b4946;
  height: 8% ;
  width: 100%;
  display: flex;
  margin-bottom: 1%;
}
  
.upper-left-block{
  width: 33%;
  padding-top: .75%;
  padding-bottom: .75%;
  margin: 0;
  display: inline-flex;
}
  
.top-name{
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 0 1em;
  border-left: 5px solid rgb(138, 211, 230);
  border-right: 5px solid rgb(138, 211, 230);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}
  
.upper-right-block{
  width: 50%;
  position: absolute;
  right: 0;
  display: flex;
}
  
.top-links{
  color: white;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  width: 25%;
  padding-top: 1%;
}

.toplinkactual{
  color:white;
  text-decoration: none;
  box-shadow: 0 5px 0 rgb(138, 211, 230);
}
  
.lower-container{
  width: 100%;
  height: 80%;
  display: flex;
  background-color: #919494;
}
  
.contact-block {
  background-color: #4b4946;
  width: 40%;
  margin-left: 30%;
}
  
.header{
  color:white;
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  margin-left: 5%;
  margin-top: 0.25em;
  margin-bottom: 0;
}

.link{
  color:rgb(138, 211, 230);
  margin: 0;
}

.underline{
  background-color: rgb(138, 211, 230);
  width: 26%;
  height:8px;
  margin-left: 5%;
}

.text{
  color:white;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 1em;
}

.ul{
  list-style-type: circle;
}